body {
	font-family: 'Open Sans', sans-serif;
	color: #7581a1;
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
	padding-bottom: 0;
}

h1 {
	font-size: 80px;
	font-weight: 600;
	color: #192b59;
	line-height: 1.1;
	letter-spacing: -2.5px;
	max-width: 540px;
	margin-bottom: 50px;
	margin-top: 200px;
	margin-left: 0;
}

.title-h2 {
	color: #192b59;
	font-size: 50px;
	font-weight: 600;
	letter-spacing: -1.3px;
	line-height: 1.2;
	text-align: center;
	margin: 0 auto;
}

.title-h2 span {
	display: block;
	font-size: 16px;
	color: #1085e4;
	font-weight: 800;
	margin-bottom: 13px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

a {
	text-decoration: none;
}

.wrap {
	max-width: 1110px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.page-header {
	background-image: url("img/header-background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px 0 220px 0;
	position: relative;
}

nav {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.nav-list {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	list-style-type: none;
	display: flex;
}

.nav-item {
	padding: 0 20px;
	color: #6e7ea9;
	letter-spacing: 2px;
}

.nav-item:hover {
	text-decoration: underline;
	color:;
}

.box-header {
	display: flex;
	justify-content: space-around;
}

.logo {
	display: block;
	width: 181px;
	height: 49px;
}

.nav-button {
	display: none;
}

.btn-primary {
	color: #fff;
	font-size: 12px;
	letter-spacing: 2.5px;
	font-weight: 700;
	background-color: #1085e4;
	border: 1px solid #1085e4;
	text-transform: uppercase;
	padding: 20px 41px; 
	border-radius: 30px;
	transition: 0.3s;
}

.btn-primary:hover {
	background-color: transparent;
	color: #1085e4;
}

.btn-secondary {
	color: #7e8bae;
	font-size: 12px;
	letter-spacing: 2.5px;
	font-weight: 700;
	background-color: #cbdbe8;
	border: 1px solid #cbdbe8;
	text-transform: uppercase;
	padding: 20px 41px;
	border-radius: 30px;
	transition: 0.3s;
}

.screen-img {
	background-image: url(img/header-screen-min.png);
	width: 703px;
	height: 565px;
	position: absolute;
	right: 0;
	top: 110px;
}

.btn-secondary:hover {
	background-color: #fff;
}


.page-companies {
	background-image: url("img/sp-background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 106px 0 99px;
}

.list-companies {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1110px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	flex-wrap: wrap;
}

.company-one {
	flex-basis: 198px;
}

.company-two {
	flex-basis: 200px;
}

.company-three {
	flex-basis: 201px;
}

.company-four {
	flex-basis: 200px;
}

.list-companies-item span {
	display: block;
}

.company-one span {
	width: 198px;
	height: 58px;
}

.company-two span {
	width: 200px;
	height: 69px;
}

.company-three span {
	width: 201px;
	height: 47px;
}

.company-four span {
	width: 200px;
	height: 69px;
}

.page-grid .grid {
	display: grid;
	grid-template-areas: "a b c" 
	"d b c" 
	"d f g" 
	"e f g" 
	"e h h";
	grid-gap: 35px;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 1110px;
	margin: 0 auto;
	padding: 69px 15px;
}

.grid-title {
	font-size: 40px;
	font-weight: 700;
	color: #192b59;
	text-align: left;
}

.grid-title span {
	font-size: 14px;
	display: block;
	color: #1085e4;
}

.grid-item {
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 5px 6px #f4f4f4;
	padding: 40px 59px 64px;
}

.grid-title {
	grid-area: a;
}

.grid-item-1 {
	grid-area: b;
}

.grid-item-2 {
	grid-area: c;
}

.grid-item-3 {
	grid-area: d;
}

.grid-item-4 {
	grid-area: e;
}

.grid-item-5 {
	grid-area: f;
}

.grid-item-6 {
	grid-area: g;
}

.grid-text {
	grid-area: h;
	padding: 0 14px;
}

.grid-text-author {
	color: #1085e4;
}

.grid-text-author span {
	font-size: 16px;
	font-weight: 700;
	color: #192b59;
}

.grid-item h3 {
	font-weight: 600;
	color: #192b59;
	font-size: 20px;
}

.grid-item a {
	color: #1085e4;
	font-size: 14px;
	font-weight: 600;
}

.grid-item {
	text-align: center;
}

.grid-icon {
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto 21px;
	height: 92px;
	background-position: center;
}

.grid-icon-1 {
	background-image: url(img/grid-icon-1.png);
	background-size: 73px 79px;
}

.grid-icon-2 {
	background-image: url(img/grid-icon-2.png);
	width: 89px;
}

.grid-icon-3 {
	background-image: url(img/grid-icon-3.png);
	width: 89px;
	height: 85px;
}

.grid-icon-4 {
	background-image: url(img/grid-icon-4.png);
	width: 79px;
	height: 82px;
}

.grid-icon-5 {
	background-image: url(img/grid-icon-5.png);
	width: 79px;
	height: 82px;
}

.grid-icon-6 {
	background-image: url(img/grid-icon-6.png);
	width: 79px;
	height: 82px;
}

.page-subscribe {
	background: rgb(10, 32, 144);
	background: -webkit-linear-gradient(left, rgba(10, 32, 144, 1) 0%, rgba(35, 119, 205, 1) 100%);
	background: -o-linear-gradient(left, rgba(10, 32, 144, 1) 0%, rgba(35, 119, 205, 1) 100%);
	background: linear-gradient(to right, rgba(10, 32, 144, 1) 0%, rgba(35, 119, 205, 1) 100%);
	padding-top: 60px;
	padding-bottom: 60px;
}

.page-subscribe h2 {
	color: #fff;
	text-align: left;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

.page-subscribe h2 span {
	display: block;
	color: #00bffe;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 800;
	margin-top: 0;
}

.page-subscribe p {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 60px;
	max-width: 437px;
}

.box-subscribe {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.box-subscribe-child {
	flex-basis: 49%;
}

.box-subscribe-user {
	position: relative;
}

.box-subscribe-user input {
	border: 2px solid #3f5cb1;
	color: #fff;
	font-size: 14px;
	border-radius: 45px;
	background-color: transparent;
	padding: 25px 230px 25px 37px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.box-subscribe-user .btn-primary {
	position: absolute;
	top: 5px;
	right: 8px;
	padding: 17px 50px;
}

.box-subscribe-user input::-webkit-input-placeholder {
	color: #b1c3ee;
}

.box-subscribe-user input::-moz-placeholder {
	color: #b1c3ee;
}

/* Firefox 19+ */
.box-subscribe-user input:-moz-placeholder {
	color: #b1c3ee;
}

/* Firefox 18- */
.box-subscribe-user input:-ms-input-placeholder {
	color: #b1c3ee;
}

.page-software {
	padding: 107px 0 143px 10px;
	position: relative;
	overflow: hidden;
}

.page-software-flex {
	display: flex;
	justify-content: flex-end;
	margin-left: 330px;
}

.page-software-flex>div {
	flex-basis: 55%;
}

.page-software-comp {
	background-image: url(img/page-software-comp1.png);
	display: block;
	width: 1466px;
	height: 1428px;
	background-size: 100%;
	background-position: 0 0;
	position: absolute;
	left: -700px;
	top: 37px;
	background-repeat: no-repeat;
}

.page-software .title-h2 {
	margin: 0;
	max-width: 766px;
	margin-top: 12px;
	margin-bottom: 26px;
	text-align: left;
}

.page-software-icon {
	display: block;
	background-image: url(img/page-software-icon.png);
	background-repeat: no-repeat;
	background-position: -14px 0;
	width: 115px;
	height: 97px;
}

.page-software-list {
	margin-top: 30px;
	height: 340px;
	overflow: hidden;
	overflow-y: scroll;
}

.page-software-list dt {
	font-weight: 700;
	color: #5a6789;
	margin-bottom: 10px;
}

.page-software-list dd {
	margin-left: 0;
	margin-bottom: 50px;
	font-size: 14px;
	line-height: 1.8;
}

.page-software-list::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

.page-software-list::-webkit-scrollbar-button {
	background-color: #1085e4;
}

.page-software-list::-webkit-scrollbar-track-piece {
	background-color: #f3f6ff;
}

.page-software-list::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #1085e4;
	border-radius: 10px;
}

.page-stat {
	background-color: #edf6ff;
	padding: 110px 0px 65px 0px;
}

.page-stat .title-h2 {
	max-width: 500px;
}

.list-stat {
	padding: 0;
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	margin-top: 75px;
	flex-wrap: wrap;
}

.list-stat>li {
	font-size: 12px;
	font-weight: 700;
	color: #1085e4;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2.7px;
	margin-bottom: 10px;
}

.list-stat>li>span {
	display: block;
	font-size: 60px;
	color: #bacbdc;
	margin-bottom: 23px;
	letter-spacing: 0;
}

.page-app {
	padding: 100px 0 100px 0;
	position: relative;
}

.page-app-content {
	width: 55%;
	position: relative;
}

.page-app h2 {

	/*font-size: 50px;*/ font-weight: 700;
	text-align: left;
	max-width: 450px;
	margin: 0;
	margin-bottom: 39px;
}

.page-app p {
	color: #7581a1;
}

.page-app-available {
	color: #c4d2dd;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	margin-top: 30px;
	margin-bottom: 21px;
}

.page-app-list {
	padding: 0;
	display: flex;
	list-style-type: none;
}

.page-app-list>li {
	display: inline-block;
}

.page-app-list>li>a {
	background-image: url(img/page-list-app.png);
	display: block;
	background-repeat: no-repeat;
	width: 162px;
	height: 60px;
	background-position: center;
}

.page-app-list>li>a.page-app-andro {
	background-position: 0 0;
}

.page-app-list>li>a.page-app-ios {
	background-position: -189px 0;
	width: 156px;
}

.page-app-video {
	position: absolute;
	top: 47px;
	right: 60px;
}

.page-analytics {
	background-image: url(img/analytics-background2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 100px 0 150px 0;
}

.page-analytics .title-h2, .flex-page-control .title-h2 {
	text-align: left;
	margin-bottom: 20px;
}

.flex-analytics, .flex-page-control {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-analytics>div, .flex-page-control>div {
	flex-basis: 50%;
}

.analytics-text, .flex-page-control p {
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 100;
}

.page-control {
	background-image: url(img/control-background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 120px 0 136px 160px;
}

.flex-page-control>div {
	flex-basis: 50%;
}

.page-screen {
	background-color: #edf6ff;
	padding-top: 114px;
	margin-bottom: 125px;
}

.page-screen-title {
	font-weight: 600;
	letter-spacing: -1px;
	max-width: 500px;
	font-size: 40px;
	margin-bottom: 70px;
}

.page-screen-title span {
	font-size: 18px;
}

.details-screenshot img {
	width: 100%;
	max-width: 1288px;
}

.page-testimonials {
	background-image: url(img/page-testimonials-background.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	padding: 15px 0 0 0;
	background-size: 100%;
}

.testimonials-title {
	color: #fff;
	text-align: left;
}

.page-testimonials span {
	display: block;
	color: #85c8ff;
}

.testimonials-line {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}

.testimonial {
	background-color: #fff;
	padding: 20px 30px;
	border-radius: 10px;
	flex-basis: 31.5%;
	box-sizing: border-box;
	font-size: 14px;
	box-shadow: 0 5px 6px #f4f4f4;
}

.testimonial>p {
	margin-bottom: 17px;
}

.testimonial-info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.testimonial-info .name-position {
	padding-left: 17px;
}

.name-position {
	padding-left: 20px;
}

.testimonial-name {
	font-size: 22px;
	font-weight: 600;
	color: #000958;
	margin-bottom: 0;
	letter-spacing: -0.6px;
}

.testimonial-position {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #1085e4;
	margin-top: 0;
}

.page-plan {
}

.page-plan h2 {
	font-size: 38px;
	letter-spacing: -1px;
	font-weight: 600;
	line-height: 1;
	max-width: 300px;
	padding: 127px 0 0 0;
}

.page-plan h2 span {
	display: block;
	text-transform: uppercase;
}

.plan-title {
	font-size: 40px;
}

.plan-title-span {
	font-size: 18px;
	letter-spacing: 4px;
}

.box-price {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	margin-bottom: 117px;
}

.box-price-item {
	background-color: #f5faff;
	flex-basis: 32%;
	position: relative;
	padding: 90px 0 96px 0;
	text-align: center;
}

.box-price-item h3 {
	font-size: 70px;
	color: #000958;
	letter-spacing: -1px;
	margin-top: 0;
	margin-bottom: 15px;
}

.box-price-item h3 span {
	font-size: 20px;
}

.box-price-item p {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 14px;
	color: #0084ff;
}

.box-price-item:first-child h3 {
	margin-bottom: 35px;
}

.box-price-item h3 span:first-child {
	color: #000958;
}

.box-price-item h3 span:last-child {
	color: #7b8ab2;
}

.box-price-item ul {
	list-style-type: none;
	padding-left: 0;
	margin-top: 34px;
	margin-bottom: 59px;
	font-style: 14px;
}

.box-price-item ul>li {
	margin-bottom: 14px;
	font-size: 14px;
	letter-spacing: -1px;
	line-height: 2;
}

.btn-info {
	color: #8085b1;
	font-size: 12px;
	letter-spacing: 2.5px;
	font-weight: 700;
	background-color: transparent;
	border: 1px solid #dce1e5;
	text-transform: uppercase;
	padding: 20px 41px;
	border-radius: 30px;
	transition: 0.3s;
}

.box-active {
	background-color: #192b59;
	color: white;
}

.box-active p, .box-active h3, .box-active h3 span:first-child {
	color: white;
}

.page-team {
	text-align: center;
	background-image: url(img/page-team-background.png);
	background-position: center;
	background-repeat: no-repeat;
	padding: 113px 0 125px 0;
}

.page-team-title {
	color: #edf6ff;
	font-size: 40px;
	margin: 5px 0 135px 0;
}

.page-team-title span {
	color: #edf6ff;
	font-size: 18px;
}

.box-team {
	display: flex;
	justify-content: space-between;
}

.box-team-item {
	background-color: #fff;
	flex-basis: 31.5%;
	box-shadow: 0 5px 6px #f4f4f4;
	position: relative;
	padding: 192px 31px 24px 31px;
	box-sizing: border-box;
}

.avatar-team {
	position: absolute;
	top: -87px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.box-team-item .team-position {
	font-size: 14px;
	text-transform: uppercase;
	color: #1a88e1;
	font-weight: 900;
	letter-spacing: 2.1px;
}

.box-team-item .team-name {
	font-size: 26px;
	color: #192b59;
	font-weight: 600;
	margin-top: 0;
	letter-spacing: -1px;
}

.box-team-item .btn-team {
	background-color: #f3f3f3;
	border-radius: 100%;
	display: flex;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border: none;
	padding: 0;
	transition: 0.3s;
}

.box-team-item .btn-team:hover {
	background-color: #1a88e1;
}

.box-team-item .btn-team span {
	background-image: url(img/btn-team.png);
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto;
	align-self: center;
}

.box-team-item .btn-more span {
	background-position: 0 -3px;
	width: 20px;
	height: 20px;
}

.box-team-item .btn-team:hover span {
	background-position: 0 -23px;
}

.box-team-item .btn-more:focus {
	outline: none;
}

.social-team {
	list-style-type: none;
	display: flex;
	padding: 0;
	justify-content: space-between;
	margin: 0;
}

.box-team-item .btn-fb span {
	background-position: -23px -3px;
	width: 20px;
	height: 20px;
}

.box-team-item .btn-fb:hover span {
	background-position: -23px -23px;
}

.box-team-item .btn-twi span {
	background-position: -43px -3px;
	width: 20px;
	height: 20px;
}

.box-team-item .btn-twi:hover span {
	background-position: -43px -23px;
}

.box-team-item .btn-be span {
	background-position: -69px -3px;
	width: 20px;
	height: 20px;
}

.box-team-item .btn-be:hover span {
	background-position: -69px -23px;
}

.box-team-item .btn-pg span {
	background-position: -96px -3px;
	width: 20px;
	height: 20px;
}

.box-team-item .btn-pg:hover span {
	background-position: -96px -23px;
}

.page-form {
	background-image: url(img/page-form-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0;
	padding-bottom: 0;
	padding: 127px 0 110px 0;
}

.page-form-flex {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.page-form-flex>img {
	padding-right: 50px;
	padding-top: 100px;
}

.page-form-flex>div {
	flex-basis: 46%;
}

.page-form-flex>div>.title-h2 {
	padding-bottom: 50px;
}

.contact-form {
	display: flex;
	flex-direction: column;
}

.contact-form input, .contact-form textarea {
	font-size: 14px;
	border: 2px solid #dce4ec;
	padding: 24px 80px 25px 30px;
	border-radius: 35px;
	width: 100%;
	box-sizing: border-box;
}

.contact-form input:focus, .contact-form textarea:focus {
	outline: none;
}

.contact-form .btn-primary {
	position: relative;
	padding: 23px 49px;
	max-width: 217px;
	letter-spacing: 2px;
}

.contact-form .btn-primary::before {
	content: '';
	background-image: url(img/before-plane.png);
	display: block;
	position: absolute;
	left: 40px;
	top: calc(50% - 6px);
	width: 13px;
	height: 12px;
}

.contact-form textarea {
	min-height: 162px;
	resize: none;
}

.contact-form-item {
	margin-bottom: 20px;
	position: relative
}

.contact-form-item::after {
	content: '';
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	right: 39px;
}

.contact-form-name::after {
	background-image: url(img/input-after-name.png);
	width: 13px;
	height: 15px;
	top: calc(50% - 7px);
}

.contact-form-email::after {
	background-image: url(img/input-after-email.png);
	width: 14px;
	height: 11px;
	top: calc(50% - 7px);
}

.contact-form-text::after {
	background-image: url(img/input-after-text.png);
	width: 14px;
	height: 15px;
	top: 28px;
}

.contact-form-text {
	margin-bottom: 35px;
}

.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
	color: #8995b3;
}

.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {
	color: #8995b3;
}

/* Firefox 19+ */
.contact-form input:-moz-placeholder, .contact-form textarea:-moz-placeholder {
	color: #8995b3;
}

/* Firefox 18- */
.contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
	color: #8995b3;
}

.page-footer {
	background-color: #192b59;	/*margin: -16px 0 -16px 0;*/
	padding-bottom: 0;
}

.footer-flex {
	display: flex;
	justify-content: space-between;
}

.footer-flex>p a {
	text-transform: uppercase;
}

.social {
	list-style-type: none;
	display: flex;
}

.ftr-list {
	display: block;
	background-repeat: no-repeat;
	height: 16px;
	align-self: center;
	margin-top: 10px;
	padding-top: 10px;
	margin-right: 20px;
}

.ftr-fb {
	background-image: url(img/ftr-icons-fb.png);
	width: 16px;
}

.ftr-tw {
	background-image: url(img/ftr-icons-tw.png);
	width: 16px;
}

.ftr-be {
	background-image: url(img/ftr-icons-be.png);
	width: 20px;
}

.ftr-pi {
	background-image: url(img/ftr-icons-pi.png);
	width: 16px;
}

.ftr-fo {
	background-image: url(img/ftr-icons.png);
	width: 16px;
}

@media (max-width:) {
}

/*1420*/

/*1280*/

/*1024*/
@media (max-width:1020px) {
	nav .btn-primary.btn-free {
		margin-top: 22px;
	}

	.screen-img {
		display: none;
	}

	.btn-primary.btn-free {
		display: none;
	}

	.list-companies-item {
		flex-basis: 50%;
		margin-bottom: 50px;
	}

	.list-companies-item span {
		margin: 0 auto;
	}

	/*.page-companies { padding: 25px 0 10px; }*/
	.page-grid .grid {
		display: grid;
		grid-template-areas: "a a " 
		"b c" 
		"d e" 
		"f g"
		"h h";
		grid-template-columns: 1fr 1fr;
	}

	.grid-title {
		text-align: center;
	}

	.box-subscribe-child {
		flex-basis: 100%;
		text-align: center;
	}
	.box-subscribe img  {
			display: none;
		}
	}

	.box-subscribe img, .page-subscribe p {
		margin: 0 auto;
	}

	.page-subscribe p {
		margin-bottom: 30px;
	}

	.page-subscribe h2 {
		text-align: center;
	}

}

/*992*/

/*768*/
@media (max-width:768px) {
	.page-header {
		padding: 20px 0;
	}

	.nav-list {
		display: none;
	}

	.group-buttons {
		display: flex;
		justify-content: space-evenly;
	}

	h1 {
		font-size: 48px;
		text-align: center;
		margin: 20px auto 30px;
	}

	.page-testimonials {
		display: none;
	}

	.page-software-comp {
		display: none;
	}

	.page-team, .box-subscribe img, .page-software-icon, .page-app-video img {
		display: none;
	}

	.list-companies {
		justify-content: center;
	}

	.page-software-flex {
		display: block;
		margin-left: 0;
	}

	.page-software {
		padding: 50px;
	}

	.page-software .title-h2 {
		text-align: center;
	}

	.page-companies {
		padding: 20px 0;
	}

	.list-companies-item:nth-child(3), .list-companies-item:nth-child(4) {
		margin-bottom: 10px;
	}

	.grid {
		padding: 50px 15px;
	}
}

/*480*/
@media (max-width:480px) {
	p, dd, dt {
		text-align: left;
		/*padding: 0 20px;*/
	}

	.title-h2 {
		font-size: 36px;
		text-align: center;
	}

	.group-buttons {
		flex-direction: column;
	}

	.btn-primary {
		margin-bottom: 10px;
	}

	.page-subscribe, .page-analytics,  .page-control, .page-form, .page-plan, .page-screen, .page-app-video, .page-software-icon {
		display: none;
	}

	.page-software {
		padding: 20px 0;
	}

	.page-software .title-h2 {
		text-align: center;
	}

	.page-software-flex {
		margin-left: 0;
	}

	.page-software-flex>div {
		flex-basis: 100%;
	}

	.page-app {
		padding: 30px 0;
	}

	.page-app .title-h2 {

		/*font-size: 42px;*/
		text-align: center;
	}

	.page-app-content {
		width: 100%;
	}

	.page-app-available {
		text-align: center;
	}

	.page-stat {
		padding: 25px 0;
	}

	.list-stat {
		margin-top: 40px;
	}

	.list-stat>li {
		margin-bottom: 30px;
	}

	.page-app-list {
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-items: center;
	}

	.page-app h2 {
		margin-bottom: 20px;
	}

	.list-companies-item {
		margin-bottom: 30px;
	}

	.page-companies {
		padding: 25px 0 10px;
	}

	.list-stat>li>span {
		font-size: 52px;
		margin-bottom: 16px;
	}

	.list-companies-item:nth-child(3), .list-companies-item:nth-child(4) {
		margin-bottom: 30px;
	}

	.page-grid .grid {
	display: grid;
	grid-template-areas: "a" 
	"b"
	"c" 
	"d" 
	"e" 
	"f" 
	"g" 
	"h";
	grid-template-columns: 1fr;
	margin: 0 auto;
	padding: 20px 15px;
	grid-gap: 10px;
}

	.grid-item {
		padding: 20px 10px;
	}
	
}

/*320*/
@media (max-width:320px) {
}